.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    max-width: 200px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 8px;
  }

  .card img:hover {
    transform: scale(1.1);
    transition: all ease-in 0.01s;
  }
  
  .card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 0.9em;
    color: #555;
  }
  